<template name="end">
<div class="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="title">Thank you for having choose TakeTalk!</span></div>
                <div class="panel-body">
                    {{#if isReportLink}}
                            <!-- Lien du document collaboratif -->
                            <div>
                                <iframe class="col-md-12" src="{{reportLink}}/pub?embedded=true" style="height:50em"></iframe>
                            </div>
                     {{/if}}
                </div>
                <div class="panel-heading"><span class="title">Speeches times resume</span></div>
                <div class="panel-body">     
                     {{#each users}}
                     <div class="col-md-3">
                        <h4 class="list-group-item-heading">{{name}}</h4>
                        <p>
                            {{#each paroles}}
                                {{>parole}}
                            {{/each}}
                            <span>Total time  : {{totalTalk name}} </span>
                        </p>
                      </div>  
                     {{/each}}
                </div>
                <button type="button" class="btn btn-danger" role="button" id="exit" style="margin-left: 93%; margin-bottom: 2%">Exit</button>
            </div>
        </div>
    </div>
</div>
</template>

<template name="parole">
    <span>{{order}} : {{displayTime timeTalk}} </span><br/>
</template>